[2018-10-24 03:03] roarmstrong opened #1 "AWSRioEnv __init__ throws error when credentials are not returned from botocore"
There is no guarantee that `botocore` will return a credentials object when `boto3.Session.get_credentials()` is called.
see: https://github.com/boto/botocore/blob/ddc8d9acdb67598c5a15b3e56eec8ff023993e30/botocore/credentials.py#L1655

This can cause errors when `AWSRioEnv` is constructed with `None` as the credentials object.

[2018-10-24 03:44] Kirill888 commented on #1
@roarmstrong I have pushed an attempt at a fix to `stable`, basic idea is to retry up to 10 times with some sleep in between. Also added assert in `AWSRioEnv`, `setup_local_env` will raise `IOError` if credentials can not be loaded after 10 attempts.

[2018-10-26 02:53] #1 closed

[2018-10-29 06:32] roarmstrong opened #3 "Possible issue with read_with_reproject when reprojecting overviews"
Using the `dea.geom.read_with_reproject` function appears to leave a 1-2 pixel gaps in the destination image when loading and re projecting with overviews. See:
![reproject_error](https://user-images.githubusercontent.com/34013278/47632503-72ac2480-db9e-11e8-8966-1742315b0a31.png)

The destination geobox for this image is:
`GeoBox(256, 256, Affine(305.74811314072576, 0.0, 13619243.95173956, 0.0, -

[2018-10-29 19:08] roarmstrong commented on #3
Possibly issue with no data values in overviews. Will investigate and reopen only if needed

[2018-10-29 19:08] #3 closed

[2019-07-04 06:43] luigidifraia opened #17 "Issue displaying outlines with odc.ui.show_datasets at the anti-meridian"
There is an issue with odc.ui.show_datasets displaying dataset outlines when datasets span the antimeridian (±180° longitude).
Example below:

![odc ui-antimeridian-issue](https://user-images.githubusercontent.com/12417554/60644972-649a5c00-9e2f-11e9-987f-2f769a48a4c2.png)

[2019-12-11 03:19] Kirill888 opened #26 "`s3-find` doesn't find any files when listing single directory"
Example:

`s3-find 's3://dea-public-data/mangrove_cover/-10_-18/**/*yaml'`
and
`s3-find 's3://dea-public-data/mangrove_cover/-10_-18/*yaml'`

should give same results, but instead only first one works, other one prints nothing.

[2019-12-11 03:31] Kirill888 opened #27 "s3-find is stuck when credentials are not set right"
Instead of failing with an error `s3-find` appears stuck when asked to list a bucket it doesn't have permissions to list.

Example:
` s3-find 's3://nosuch-bucket/**/*yaml'`

[2019-12-11 05:49] #26 closed

[2019-12-11 05:49] #27 closed

[2020-02-11 03:33] whatnick opened #30 "Support regex/globs"
Allow at least `*` wildcard based globbing of parts of the filepath.

e.g. `geomedian-australia/v2.1.0/L8/*/*/2018/01/01`

[2020-02-19 00:19] robbibt opened #31 "Add time out functionality to `select_on_a_map`"
Adding a time out functionality to `select_on_a_map` would allow us to implement testing on functions and notebooks that use interactive map selection. For example, if no user feedback was observed after X seconds, fall back to a default bounding box extent.

[2020-02-19 00:19] robbibt commented on #31
@Kirill888

[2020-02-24 21:46] luigidifraia commented on #17
BTW, the issue only affects the output when mode='leaflet'.
A workaround that leverages the fact leaflet deals with longitude values >= 180 degrees (EPSG4326) can be found in cell 6 of the following [notebook](https://github.com/luigidifraia/jupyterhub-platform-tutorials/blob/master/datacube/examples/notebooks/misc/02-simple-data-visualization.ipynb).
It's by no means supposed to be a reference de

[2020-02-28 03:59] Kirill888 commented on #17
@luigidifraia thanks I thought offsetting by 360 should work.

I can't say I understand how it works though, particularly `find_safe_latitude`. I guess there is always an ambiguity when dealing with modulo numbers, did you mean `-179->179` or `179->179+2`, both are valid inputs, just one is more likely than the other.

[2020-02-28 04:00] s-m-t-c opened #32 "Feature requests for map implementation"
Building on the work from the ODC Hackathon [accessibility group](https://github.com/opendatacube/datacube-conference-2020/blob/master/odc_accessibility/) and shifting to a class/object based approach.

- Create a map object
- Add layers to map object with inbuilt [reprojection ](https://github.com/opendatacube/datacube-conference-2020/blob/master/odc_accessibility/ipyleaflet_mapping.py#L13) and o

[2020-02-28 04:13] robbibt opened #33 "Add area limit to `select_on_map` function"
**Problem**
The `select_on_map` function would be a great replacement for the clunky manually defined query bounds we have in most of our notebooks.

However, the biggest limitation to interactive map selection in notebooks is nudging users to select reasonable-sized query areas: the first inclination is generally to select a huge area (e.g. all of Sydney or Queensland etc), which crashes memory a

[2020-02-28 04:17] robbibt commented on #32
Some extra ones:
* Automatic map zoom to the extent of any layers added to the map
* Ability to customise basemap at the 'Create a map object' stage

[2020-02-28 04:26] Kirill888 commented on #33
How precise this needs to be? Would using `epsg:3857` suffice or do we need user configurable projection? `epsg:3577` only works for Australia.

[2020-02-28 04:26] robbibt commented on #33
An even more user-friendly alternative (or possibly addition) would be to visually signify that the area is too large by changing the colour of the dragged polygon based on the "54567.21 ha" pop-up. I have no idea if this is possible within the `ipyleaflet` framework though:

![image](https://user-images.githubusercontent.com/17680388/75510114-f9486e80-5a3d-11ea-8626-f044a6110041.png)

![image](ht

[2020-02-28 04:27] robbibt commented on #33
@Kirill888 Not precise at all, I think `epsg:3857` would suffice without any problem

[2020-02-28 04:31] Kirill888 commented on #33
I don't think leaflet draw plugin exposes events "while drawing", so no way to limit user input while dragging selection box. But we can certainly indicate that area is not acceptable after it was drawn.

[2020-02-28 04:33] robbibt commented on #33
Yeah, I think that would be fine, after all we get the little "54567.21 ha" popup below the rectangle that users can use to select an area < than the limit

[2020-02-28 04:46] robbibt commented on #33
This `leaflet` documentation seems to suggest you can also customise the area units that are shown (see "PolygonOptions" and "RectangleOptions"). If that translates to `ipyleaflet`, showing area in "km2" instead of "ha" would probably be more intuitive for users (I have very little intuition for how large a hectare is, but a square kilometer feels more logical).

http://leaflet.github.io/Leaflet.d

[2020-02-28 10:54] luigidifraia commented on #17
@Kirill888 I think the confusion arises from the fact the function name should have been `find_safe_longitude()` - this was now corrected in my repo.

Offsetting by 360 degrees alone is not going to help. What `find_safe_longitude()` does, instead, is to calculate the first longitude value L for which the circle of constant longitude value L doesn't cut trough any dataset's bounding box. Once such

[2020-02-28 11:13] luigidifraia commented on #17
Take Fiji, as example, whose WGS84 bounds are:
[code]
Rewritten bounds according to the above (assume L was found to be 176.7 degrees):
[code]
Feed these into Leaftel and you will see the correct bounding box displayed. Simple math calculations including max/min will still be meaningful.

By limiting the range in which L is expected, you can also keep clusters of datasets across different countrie

[2020-03-02 03:39] Kirill888 commented on #31
@robbibt what would be a good way to specify default value to return?
The output of `select_on_a_map` is a `Geometry` class which is a bit too painful to construct.

Options:

1. Bounding box as a tuple of 4 values in lonlat notation compatible with `datacube.utils.geometry.BoundingBox` class

[code]

2. Dictionary of `x|y` or `lon|lat` ranges

[code]

To make is easier for testing I suggest follo

[2020-03-02 04:31] robbibt commented on #31
Hmm, that's a great question. Ideally we wouldn't want to create too much extra handling code further downstream for when the default is returned... does `dc.load` allow data to be loaded using the `BoundingBox` class or would it have to be converted into a `Geometry` object before it can be used?

Would it be possible to have a simple hard-coded `Geometry` object that's defined somewhere within t

[2020-03-02 04:40] robbibt commented on #31
E.g. something like:

[code]

[2020-03-02 05:06] Kirill888 commented on #31
@robbibt I do not think it's feasible to have a global default at the library level. If you want to avoid setting default extents per notebook that uses this function then you are better off augmenting test runner code to replace this function at run-time with something that immediately returns some global constant.

`BoundingBox` can not be used as part of `dc.load` directly as far as I can tell,

[2020-03-02 05:13] robbibt commented on #31
Yep, OK. We can always just wrap `select_on_a_map` inside a larger function that converts the default to a `Geometry` then does the rest of the analysis ([similar to the current `run_filmstrips_app` func here](https://github.com/GeoscienceAustralia/dea-notebooks/blob/develop/Scripts/notebookapp_changefilmstrips.py#L36))

[2020-03-09 22:19] robbibt opened #34 "`select_on_a_map` function occasionally does not respond to input"
This is going to be a tricky issue to bug-fix as it is unpredictable and only occurs sometimes:

Occasionally when the `select_on_a_map` function is run, the function allows users to select a polygon/rectangle of interest, but then does not allow the user to press "done" to continue and output the Geopolygon object. The "done" button does not respond to user input, and nothing happens when it is c

[2020-03-09 22:26] robbibt commented on #34
@Kirill888 Sorry I don't have more precise steps to reproduce - I'll try and narrow it down, but it does happen pretty regularly - perhaps one in every 10 times the following code is run:

[code]

[2020-03-09 23:30] Kirill888 commented on #34
@robbibt `mem_safety_margin=3` will only leave 3 bytes of "safety margin". Did you mean `'3G'`?

This problem can happen when notebook "dies", or you whole sandbox is killed. Next time this happens can you please:

1. Check that some other notebooks can run (sandbox didin't die)
2. Interrupt Kernel (square "stop" button) and paste exception log here

[2020-03-10 00:19] robbibt commented on #34
Whoops, yep, most of my testing has been using `'3Gb'`, I entered it incorrectly on that small example only.

It's working well again now, but I'll do 1 & 2 as soon as it stops again.

[2020-03-11 12:59] luigidifraia opened #35 "Issue with the 'to_rgba' method"
Running the below from [geomedian-example.ipynb](https://github.com/opendatacube/odc-tools/blob/master/notebooks/geomedian-example.ipynb) with odc-tools version `0.1.dev436+gcf443b6`:

[code]

Seems to fail with:

[code]

The `to_rgba()` method was working as expected in version `0.1.dev426+g5cae01f`. Later versions might work, but have not been tested.

[2020-03-13 04:52] robbibt commented on #34
This is happening again:

1) Can confirm that other notebooks can run
2) Exception produced when interrupting kernel:

[code]

[2020-03-13 05:22] Kirill888 commented on #34
cool, thanks, it does look to be in the right place, which suggests that there were no exceptions in the callback.

this though: `distributed.nanny - WARNING - Restarting worker`, were you running anything on dask at the same time?

[2020-03-13 05:24] Kirill888 commented on #34
What about map itself, can you draw another rectangle or does it stop responding when that happens?

[2020-03-15 23:05] robbibt commented on #34
Yep, I can draw/delete/clear multiple other rectangles, the "done" button just doesn't respond:

![image](https://user-images.githubusercontent.com/17680388/76712360-2ef29480-676c-11ea-85ec-69f9e6877804.png)

In this example, I simply set up a local dask client in the first cell of the notebook (so that I can use dask to load data after the interactive map selection. The interactive map selection

[2020-03-15 23:27] robbibt commented on #34
Here's a video of the issue occuring:

https://www.loom.com/share/d85a0c3411c14e36984c7320bc256355

[2020-03-16 01:17] Kirill888 commented on #34
Can you share exact (hopefully minimal) notebook and how often does it happen? Also which sandbox environment are you using? I need to be able to reproduce it to debug it.

[2020-03-16 05:09] robbibt commented on #34
Minimal example which currently produces the issue for me (but unpredictably work correctly from time to time):
[select_on_a_map.zip](https://github.com/opendatacube/odc-tools/files/4336124/select_on_a_map.zip)

I'm using the "Development environment - Jupyterhub environment with 8 Cores, 60G Memory" on the DEA Sandbox. I've now uninstalled all user libs except:

[code]

[2020-03-17 05:29] Kirill888 commented on #35
Thanks @luigidifraia this should be fixed now.

[2020-03-17 05:29] #35 closed

[2020-04-01 01:04] whatnick opened #36 "Refactor s3_find CLI for reuse in datacube-index"
[datacube-index](https://github.com/opendatacube/datacube-index) ties together in Python the S3 find based generator to datacube indexing function skipping the intermediate tar generation step.

[2020-04-01 05:02] whatnick opened #38 "Breaking API change for [aiobotocore==1.0.0](https://github.com/aio-libs/aiobotocore/releases/tag/1.0.0) , works with 0.12.0"
@Kirill888 this is a breaking API change for [aiobotocore==1.0.0](https://github.com/aio-libs/aiobotocore/releases/tag/1.0.0) , works with 0.12.0 , is worth pinning to that version in deployments. Will create a separate issue and fix for breaking API change.

_Originally posted by @whatnick in https://github.com/opendatacube/odc-tools/pull/37#issuecomment-607033572_

[2020-04-01 05:30] whatnick commented on #38
Follow the pattern [here](https://github.com/aio-libs/aiobotocore/blob/95c1041ae1f1b11b500cadf66fed7ca700637d38/examples/simple.py#L16) to create a context managed aiobotocore s3 client and close it properly. This error is present in master against `aiobotocore==1.0.0`

[2020-04-14 04:56] #36 closed

[2020-04-14 05:00] whatnick opened #39 "Refactor eo3 transformer code for reuse"
`index_from_tar` CLI tool contains in-line eo3 transformer code and an eo3 flag to apply relevant changes to re-structure eo3 YAML metadata suitable for the index. Move this code into a library for reuse by other tools.

Functions affected :
- add_eo3_parts
- prep_eo3

Proposed new function:
- detect_eo3

[2020-04-15 01:52] whatnick opened #41 "Include eo3 auto-detection"
Move eo3 from CLI flag which is often missed by users to internal-heuristic which examines certain signature keys in YAML being indexed to auto-apply eo3 related post-processing.

Also retain current flag and issue deprecation warnings for backward compatibility.

[2020-04-17 12:26] whatnick commented on #41
return 'grids' in doc and 'default' in doc['grids'] and 'transform' in doc['grids']['default']

[2020-04-17 12:26] #39 closed

[2020-04-18 00:31] whatnick opened #43 "Create lazy-iterator for Thredds using Aio-Http"
Use lists of URL's obtained from Thredds-Crawler to generate lazy-iterator for downloading YAML content. Also move Thredds crawler code out of application into library for reuse.

[2020-05-26 00:19] Kirill888 commented on #41
no longer relevant, code moved to datacube core, and does include auto-detection

[2020-05-26 00:19] #41 closed

[2020-06-15 01:33] whatnick opened #53 "Improve DsCache"
via @Kirill888  -> a pretty good "interchange format" , and also works for "fixed geometry" workflows.
needs more tooling:
- Index from dscache
- Better query time selection (currently only supports whole product(s) creation)
- No good time index story yet, but probably feasible to add something
- Need to add lineage support

[2020-06-18 01:28] Kirill888 commented on #53
@uchchwhash before Slack looses it

### Better handling GridSpec/tiles

We need following methods on `DsCache`

1. `.add_grid(gs: GridSpec, name: str)`
2. `.add_grid_tiles(grid: str, tiles: Dict[Tuple[int, int], List[UUID]])`  this is currently done by `dstiler` should be moved into `DsCache`
3. `.grids() -> Dict[str, GridSpec]`
4. `.tiles(grid: str) -> List[Tuple[Tuple[int,int], int]]`  use `.gro

[2020-06-18 14:41] snowman2 opened #58 "odc-geo repo?"
Thoughts on moving geospatial tools to a separate package/repository (maybe odc-geo)?

Maybe combine:
1. `opendatacube-core` geobox functionality
2. reprojection utilities here: https://github.com/opendatacube/odc-tools/blob/develop/libs/algo/odc/algo/_warp.py
3. Other?

This would be useful for the geospatial xarray community. For example, the geobox stuff is used in [geocube](https://github.com/

[2020-06-19 01:09] Kirill888 commented on #58
In general I agree Alan. I think moving some of the lower level functionality into a separate library will benefit `datacube` users as well as allowing easier re-use by other projects in geospatial space. We might even get larger contributor base for "simpler library" without all the database hurdle that new users of `datacube` need to deal with.

It will be a significant refactor and will take qu

[2020-06-24 01:35] Kirill888 opened #63 "Better Geometry handling for STAC indexing"
I thinks this function here:

https://github.com/opendatacube/odc-tools/blob/faf273a0d12740857fe1e25c86bdd69428efe4e9/libs/index/odc/index/stac.py#L80-L98

should detect self-crossing geometries and not use them. If `lon/lat` geometry is self crossing then we should either skip geometry altogether (this is allowed by `eo3`) or, if we must (maybe explorer assumes geometry presence), we should gener

[2020-06-24 01:55] alexgleith commented on #63
Are we sure the geometries are self-crossing? I'll find one of the geometries again and check it out...

[2020-06-24 01:57] Kirill888 commented on #63
if not, then we should check for lat/lon bounds being crazy large

[2020-06-24 02:01] Kirill888 commented on #63
I guess not all of them, but some are

[code]

[code]

[2020-06-24 02:05] alexgleith commented on #63
Yeah, got it

Found a bunch:

[code]

[2020-06-24 02:34] alexgleith commented on #63
Another approach would be attempting to fix the geometry.

Using ST_MakeValid() does fix it, but splits it into a multi-polygon. I really want to check the STAC and then Sinergise's then ESA's metadata to see if it's broken there too...

[2020-06-24 02:50] alexgleith commented on #63
Ok, one scene, `S2B_MSIL2A_20200605T222759_N0214_R072_T01MAN_20200606T005246` or `52666160-fe67-580a-9357-d26de263033f`.

Our projected geometry:
[code]

STAC metadata: `s3://sentinel-cogs/sentinel-s2-l2a-cogs/2020/S2B_1MAN_20200605_0_L2A/S2B_1MAN_20200605_0_L2A.json`

their unprojected geometry:
[code]

Which is _valid_ but only if you handle longitude -179 as 181...

[2020-06-24 02:54] alexgleith commented on #63
So really, it's just anti-meridian handling that is still broken. We can dodge this by not indexing these scenes at all. Or we somehow fix up our geometry transformations to handle these cases in the ODC.

[2020-06-24 03:37] Kirill888 commented on #63
Maybe it's anti-meridian or maybe it's just rounding errors of the  `native->lat,lon->native` conversion loop:

![image](https://user-images.githubusercontent.com/1428024/85496278-60a6b180-b61f-11ea-8c27-478c58e5fa43.png)

Either way, if projected geometry comes back as invalid we should not include it.

[2020-06-24 03:54] Kirill888 commented on #63
`aws s3 cp s3://sentinel-cogs/sentinel-s2-l2a-cogs/2020/S2A_1MAN_20200610_0_L2A/SCL.tif`

Looked at the image and it has lower bottom corner filled with data, but could only view it native projection in QGIS,
![image](https://user-images.githubusercontent.com/1428024/85498095-69e54d80-b622-11ea-8be7-1a7b0e798438.png)

map doesn't render in that projection, and when trying to swicth to espg:4326 I

[2020-06-24 04:17] alexgleith commented on #63
If you're really careful, you can see them all in `4326`

![image](https://user-images.githubusercontent.com/3445853/85499194-7f5b7700-b624-11ea-95ab-3f227a1860bb.png)

Dark grey is the unprojected (but fixed lat/lon) coords, with the `-179` values changed to `191`. The projected coordinates are twisted because only some of the nodes end up on the other side of the world. The raster variously disa

[2020-06-24 05:59] Kirill888 commented on #63
@alexgleith for Matt
![image](https://user-images.githubusercontent.com/1428024/85506382-9a81b300-b633-11ea-8c71-ca72e80d852f.png)

[2020-06-24 07:17] #63 closed, assigned to nobody

[2020-06-25 00:40] uchchwhash opened #66 "minor issues"
- `parse_gridspec` should come up with a good enough name for the grid and return it
- `tee` is breaking contract
- `dstiler` should check if grid info dict already exist

[2020-07-02 00:55] #38 closed

[2020-07-27 06:35] #66 closed, assigned to nobody

[2020-08-07 05:02] MatthewJA opened #75 "odc.ui.mk_image_overlay fails if there is a 0-shape time axis"
Code to reproduce:

[code]

Expected: I get an image overlay for the 0th time slice (in this case, the only time slice).
Actual: I get an IndexError on [line 165](https://github.com/opendatacube/odc-tools/blob/develop/libs/ui/odc/ui/_images.py#L165).

This works OK:

[code]

This does not:

[code]

This does not either:

[code]

This works OK but is not intuitive:

[code]

[2020-08-08 08:57] woodcockr opened #76 "aiohttp > v4 deprecates verify_ssl and impacts s3-to-dc"
Hi folks,

Just ran into a problem with s3-to-dc showing an error with verify_ssl not being a valid argument.
The aiohttp >4.0.0 release has removed the deprecated argument which has been replaced with some new ones.
From what I can figure aiobotocore is not yet compatible and isn't pinning for aiohttp<4.0.0.
Pinning aiohttp<4.0.0 in my ci/cd resolved the issue for the moment.

My python is still

[2020-08-09 22:32] Kirill888 commented on #76
I don't think we use `aiohttp` directly, only via `aiobotocore`. So it's probably the matter of bumping `aiobotocore` version, assuming they have a compatible version.

[2020-08-10 00:16] Kirill888 commented on #75
yep it's a bug, code here

https://github.com/opendatacube/odc-tools/blob/2937876d91e2cdf417ed33177e1c3cedaf11d7a5/libs/ui/odc/ui/_images.py#L164-L173

Should only run if `time` *dimension* exists (and is not empty), this is different from `time` *coordinate*.

@MatthewJA by the way, `.mk_image_overlay(..)` expects inputs to be in the same projection as the map, which is usually `epsg:3857`, on-th

[2020-08-10 06:49] Kirill888 commented on #75
fixed in `develop` branch.

[2020-08-10 06:49] #75 closed, assigned to nobody

[2020-08-10 22:58] woodcockr commented on #76
^yep, that's what I attempted to say. It's an aiobotocore issue, but its also ours whilst that is fixed so adding in aiohttp<4.0.0 in our setups can work for now.

[2020-08-10 23:14] Kirill888 commented on #76
Ok, I should read more before replying...

I looked in `aibotocore` and the latest release we are using in the sandbox is still latest on github and does not contain a pin for `aiohttp`. But also `aiohttp` current release is `3.6.2`, do you have a flag somewhere to install pre-release libs?

https://pypi.org/project/aiohttp/#history

[2020-08-11 04:49] woodcockr commented on #76
I should just write more clearly ;-)

looking at aiobotocore 1.0.7 (tag) on github setup.py says - 'aiohttp>=3.3.1'.

We do have a flag for pre-release libs, since some of the libs we use from odc are pre-release development versions. Might be trickling down and picking up the aiohttp 4 pre-release.
I didn't think of that.

[2020-08-11 05:29] Kirill888 commented on #76
https://github.com/GeoscienceAustralia/dea-sandbox/blob/a1068ecabe790cff118a4fe84b861c41fa0bed12/docker/requirements-odc.txt#L3 this is what we do to force pre-release datacube to be picked up without enabling pre-release globally, but this needs editing with every new release I guess. Maybe there is special mechanism in pip to apply flags like that per specific lib, but I'm not sure how that woul

[2020-10-08 21:48] MatthewJA opened #95 "Add a time estimate to mk_cbk_ui"
Feature request: Add an estimate of how long it'll take to load the remaining frames to odc.ui.mk_cbk_ui. Doesn't need to be as fancy as tqdm's (which does some kind of rolling mean), but a simple `elapsed/n * (ntotal - n)` would be fine.

[2020-10-15 01:32] Kirill888 opened #103 "Feature request: per band resampling configuration for xr_repoject"
Currently `xr_reproject` accepts a `resampling: str` parameter that configures resampling for all bands of the dataset

https://github.com/opendatacube/odc-tools/blob/3e746050802830dbd299cf7e5199341797889bca/libs/algo/odc/algo/_warp.py#L214-L227

Some times it is desirable to resample different bands with different resampling settings, in `Datacube.load(..)` this is achieved by accepting a diction

[2020-10-15 03:13] alexgleith opened #105 "S3 to DC tool fails by hanging indefinitely"
It's hard to reproduce, but if you install `odc-apps-dc-tools` without `aiohttp==3.6.2`, for example, the tool will just hang.

[2020-10-15 03:17] Kirill888 commented on #105
Are you using "allow pre-release installs" flags? We should only install our libs with those flags.
I think for aio libs it's best to pin them even if this is not the cause of this problem.

[2020-10-15 03:39] alexgleith commented on #105
This is the requirements used:

[code]

Adding in pinned aiohttp makes it work.

[2020-10-15 04:27] Kirill888 commented on #105
same as #76, don't use `--pre` globally, right now it's `aiohttp` that is breaking, but next some other thing will, `--pre` should only apply to `odc-apps-dc-tools` really, and you can avoid using `--pre` altogether by specifying `>={dev_version}` on `odc-apps-dc-tools`.

[2020-10-15 05:28] alexgleith commented on #105
Please create a PR on the requirements files in here: https://github.com/opendatacube/datacube-docker

But it is patching the symptom, and doesn't resolve that the tool should fail faster if it's broken and not hang indefinitely.

[2020-10-15 06:03] Kirill888 commented on #105
have you debugged which library it is hanging in?

Nothing I can do if your environment has incompatible versions of unreleased third party software that happen to misbehave when used that way.

[2020-10-22 05:49] woodcockr opened #108 "stac_api_to_dc.py calls itself sqs-to-dc in the cli"
I think this might be a copy and paste error:
https://github.com/opendatacube/odc-tools/blob/f313310f1ab4711f09efffe5ef6bbddca9f4b88a/apps/dc_tools/odc/apps/dc_tools/stac_api_to_dc.py#L154

[2020-10-22 06:55] woodcockr commented on #105
I reported this previously. It's not a library issue. Something to do with asyncio race condition when something fails (something related to network, outside the core logic flow anyway) was as far as I could theorize but my skills with aio are extremely limited and I couldn't figure out how to debug it further. Uncaught exception maybe? its quite painful to reproduce but it happens a fair bit, unf

[2020-10-22 07:43] Kirill888 commented on #105
I have not seen it happen when using non-alpha versions of `aiohttp`, `aiobotocore` installed with compatible `botocore`

[2020-10-26 00:36] Kirill888 opened #109 "xr_reproject is broken when warping across projected/geographic CRSs"
reprojecting from geographic to projected or other way fails due to mismatch in dimension names used by datacube for these two projections (xy vs lonlat).

Problematic code is here:
https://github.com/opendatacube/odc-tools/blob/f313310f1ab4711f09efffe5ef6bbddca9f4b88a/libs/algo/odc/algo/_warp.py#L180-L183

Code above assumes that "xy" coordinate names do not change between source and destination,

[2020-10-26 00:56] whatnick opened #110 "Migrate / Complete Datacube Index Documentation"
Datacube Index documentation is incomplete. Migrate existing documentation from [old repo](https://github.com/opendatacube/datacube-index), and write fresh ones.

[2020-10-26 01:04] robbibt commented on #109
There is an example of this issue in the "Reproject datacube data" section of this notebook here:

https://github.com/GeoscienceAustralia/dea-notebooks/blob/733cd13c8ebc98ee961d7b984bc4db01f450e3e6/Testing/Reprojecting_data.ipynb

In that example, we need to rename the dims on `ds` in order to use `xr_reproject` (even though this dataset does not have latitude/longitude dimensions until _after_ we

[2020-10-26 01:10] robbibt commented on #109
Note that the reverse example ("Reprojecting a raster to match datacube data" at the bottom of the notebook) works correctly without needing to rename dimension names on either `ds` or `raster`, e.g.:

[code]

[2020-10-26 02:32] #108 closed, assigned to alexgleith

[2020-10-26 03:54] #109 closed, assigned to nobody

[2020-12-01 22:34] uchchwhash commented on #53
@whatnick I did what I could. Should we close this now?

[2020-12-01 23:47] #53 closed, assigned to Kirill888, uchchwhash

[2021-01-28 00:40] fivejjs opened #146 "failed to import "from odc.dscache.tools.tiling import parse_group_name""
I run the import in sandbox default environment. It could be the version issue.
[code]

errors
[code]

[2021-01-28 00:58] Kirill888 commented on #146
those things have been moved around a lot, what are you running?

[2021-01-28 01:01] Kirill888 commented on #146
https://github.com/opendatacube/odc-tools/blob/4c017f6bb846e950d6889c476ae840bd223f541a/libs/dscache/tests/test_dscache.py#L1-L9

[2021-01-28 04:48] fivejjs commented on #146
sandbox default python environment

[2021-01-28 04:49] #146 closed, assigned to nobody

[2021-02-01 18:33] Juanezm opened #148 "STAC collection to Product definition"
Greetings,

I'm trying to add some product definition into the odc using the STAC collection definition, similarly to what https://github.com/opendatacube/odc-tools/blob/4c017f6bb846e950d6889c476ae840bd223f541a/libs/index/odc/index/stac.py#L199 is doing for STAC items and odc datasets.

Is there any library/tool for doing so?

Thanks,
Juan

[2021-02-10 00:44] pindge opened #149 "s3-to-dc infinitely hang"
[code]
The `s3:/` caused the container to infinitely hang without erroring, I must admit I was careless and I wonder where should this be handled.

[2021-03-16 06:01] kieranricardo opened #167 "s3-to-dc glob error"
`s3-to-dc` can't parse glob urls like `s3://dea-public-data/fractional-cover/fc-percentile/annual/v2.2.0/combined/**/2020/*.yaml`. It seems like specify a subfolder after the `*` or `**` patterns causes `parse_query` to throw:

[code]

[2021-03-16 23:41] Kirill888 commented on #167
not supported currently, `/**/` stands for any number of sub-folders, and only allow this to be followed by "file pattern", so  `../**/<file-pattern>`.

I feel we should probably just support arbitrary grep patterns instead, but then you still need to list all the paths (slow) and then discard those that do not match.

[2021-03-19 01:23] JonDHo opened #171 "KeyError when bbox is missing in stac_api_to_odc"
I am working on passing a proper polygon to the earth-search API using the `intersects` attribute (because a simple bbox for Chile is not workable), but bbox gets in the way. From what I can tell, bbox is not a mandatory field in the earth-search API.

**[L130](https://github.com/opendatacube/odc-tools/blob/3117d2a2a4e98739bcc0bb48cc6fab02f730fb18/apps/dc_tools/odc/apps/dc_tools/stac_api_to_dc.py#

[2021-03-19 05:35] #171 closed, assigned to alexgleith

[2021-05-20 00:43] robbibt opened #203 "Duplication in functionality between `erase_bad` and `keep_good_only`"
The following two `odc.algo` functions appear to do the same thing: replace certain pixels in an array with `nodata`. To reduce confusion, it would be good to have only one clear option for this kind of task.

[code]

The docstrings seem to say the same thing:

[2021-05-20 00:45] Kirill888 commented on #203
code is the same too, my guess it was attempt at rename that didn't merge correctly.

@robbibt which name do you think works better?

[2021-05-20 00:47] robbibt commented on #203
I like `erase_bad`, simpler and more direct

[2021-05-21 03:42] Kirill888 commented on #203
@robbibt Actually they are different, and documentation does differ between the two ever so slightly

`erase_bad` removes those pixels that are marked `True` in the mask, while `keep_good_only` erases pixels that are marked `False` in the mask.

[2021-06-03 01:47] robbibt opened #209 "Possible improvements to new xr_percentile function"
Hey @kieranricardo and @Kirill888, I've just had a chance to test out the new `xr_percentile` function. It seems to function far faster than the built-in `.quantile` functionality in `xarray`, which is really exciting! I did have a few pieces of feedback though which might help it be easier to use and to fit into existing workflows.

**Issue 1:** The function currently returns an `xr.Dataset` with

[2021-06-03 01:49] Kirill888 commented on #209
Agree on both counts.

[2021-06-11 04:37] MatthewJA opened #217 "Support `proj:shape` and `proj:transform` in properties"
"change the stac transform to handle the proj:shape and `proj:transform` being in the properties rather than per-band."

Needed to fix some metadata reading for NBH.

Ping @alexgleith

[2021-06-15 00:50] #217 closed, assigned to MatthewJA

[2021-06-23 22:54] RichardScottOZ commented on #209
This sounds great given quantile doesn't work on dask I think?

[2021-06-24 00:22] RichardScottOZ commented on #209
and a few hundred times faster than this would be great:-
3 variables, 44 bands, 100 million pixels each approx

![image](https://user-images.githubusercontent.com/72196131/123183978-dca53500-d4d1-11eb-95e9-0377b3698848.png)

[2021-06-25 12:30] 16EAGLE opened #230 "stac-to-dc: index_update_datasets not found"
Hi, thanks everyone for this great initiative.

Just a quick bug report of an error that emerged since the most recent changes to https://github.com/opendatacube/odc-tools/blob/develop/apps/dc_tools/odc/apps/dc_tools/stac_api_to_dc.py. After installing from https://packages.dea.ga.gov.au using

[code]
and running `stac-to-dc`, e.g. as is without arguments or with
[code]
the function `index_update_

[2021-07-06 03:32] pindge opened #242 "sqs-to-dc: latest code is failing to filter --record-path"
## the command that was ran

[code]

## The logging from the command
[code]

## Summary
[code]
is not in the `--record-path` and should be safely ignored.

## old code behaviours

[code]

[2021-07-06 23:00] alexgleith opened #244 "There's no integration tests"
Some of the tools in this repository rely on the ODC Database to do their work.

We do mock things like SQS or datasets and run simple functional tests, but some tools like `sqs-to-dc` or `s3-to-dc` really need to be tested end-to-end.

Can we have a discussion about how to set up some integration tests?

The simplest way is to have a shell script that calls the tools, with a Docker Compose file t

[2021-07-06 23:54] kieranricardo commented on #244
@alexgleith the bulk of the work seems to happen in functions like `queue_to_odc` which accept a `Datacube` and only really use a few functions from it. We could go a long way towards fully testing by mocking a `Datacube` and using this in our tests.

Although I agree that full testing would be ideal! but this might be a lot easier

[2021-07-07 00:03] alexgleith commented on #244
Hey @jeremyh do you think it's plausible at all to mock a Datacube instance? It'll be a crazy amount or work, right...

[2021-07-07 00:10] kieranricardo commented on #244
not all of it though! afaik we only need:

- ` dc.index.datasets.has`
- `dc.index.products.get_by_name`
- `dc.index.datasets.bulk_get`
- `dc.index.datasets.add` (can do nothing in mocked dc)
- `dc.index.datasets.update` (can do nothing in mocked dc)
- `dc.index.datasets.archive` (can do nothing in mocked dc)

[2021-07-07 00:14] kieranricardo commented on #244
I've also done some work in stats creating test datasets products that we can leverage https://github.com/opendatacube/odc-tools/blob/fbf58611b52bb935fed52ab504214235490decb6/libs/stats/tests/test_utils.py#L192

[2021-07-07 01:36] jeremyh commented on #244
Yeah, you could just mock those methods you use. I think the majority of bugs we hit deal with quirks in the interaction of a real ODC instances, though. Especially across different version of ODC and postgres etc.

One option is to use the pytest plugin for ODC in the digitalearthau repository -- it's what Explorer and others use.

To try it, add the plugin to your pytest `conftest.py`:
[code]

N

[2021-07-08 02:55] #242 closed, assigned to omad, alexgleith, kieranricardo, pindge

[2021-07-08 02:56] kieranricardo commented on #242
Fixed with #243

[2021-07-08 05:09] alexgleith commented on #230
Sorry, I messed up some things a bit. SHould be fixed now!

[2021-07-08 05:09] #230 closed, assigned to nobody

[2021-07-08 11:49] 16EAGLE commented on #230
Thanks!

[2021-07-14 22:38] alexgleith opened #253 "We need a tool that indexes from a file system"
* s3-to-dc works really well from S3
* sqs-to-dc works great from a queue
* datacube dataset add works great for many places
* But we don't have one of these `fs-to-dc` that is fast and convenient...

Alternative is adding STAC indexing to the datacube-core codebase...

[2021-07-16 02:12] alexgleith opened #256 "s3-to-dc fail on doing stac_transform"
I don't know how to reproduce the failure yet...

[code]

[2021-07-16 03:21] #256 closed, assigned to nobody

[2021-07-18 01:09] whatnick commented on #244
I will backport tests from `datacube-docker` and add the [docker-compose](https://github.com/opendatacube/datacube-docker/blob/main/index/docker-compose.yml) stack to test this in a way I am familiar with.

[2021-07-18 03:14] whatnick opened #259 "Publish test coverage to CodeCOV"
#258 Adds coverage testing. This is currently at 51%. Publish this to CodeCov and progressively improve coverage on the collection of tools here to improve stability.

[2021-07-18 23:27] #244 closed, assigned to whatnick

[2021-07-19 02:26] #259 closed, assigned to whatnick

[2021-07-19 02:51] alexgleith opened #263 "Testing redriving from a DEAD to ALIVE queue results in odd counts in the ALIVE queue"
These tests work ok: https://github.com/opendatacube/odc-tools/blob/develop/libs/aws/tests/test_aws.py

But what you can't do is count the number of messages on the destination queue. Doing this would make the test more meaningful.

[2021-07-19 02:58] whatnick commented on #263
This could be a limitation of moto. One option is trying alternative SQS mocking implementation using localstack. Since moto is an API level 🐒 monkeypatch on boto3 rather than an actual implementation of SQS.

[2021-07-19 03:00] alexgleith commented on #263
Yeah, that's what I figure.

I'm not sure it's really worth going to too much trouble about. The tests do test the basic functionality!

[2021-07-19 04:34] alexgleith opened #264 "Feature: add indexing of Copernicus global DEM"
Source and metadata: https://registry.opendata.aws/copernicus-dem/

Take inspiration from the ESRI Land Cover to DC tool: https://github.com/opendatacube/odc-tools/blob/develop/apps/dc_tools/odc/apps/dc_tools/esri_land_cover_to_dc.py

[2021-07-27 06:26] alexgleith opened #274 "Replace sat-search with pystac-client"
See: https://github.com/stac-utils/pystac-client

stac_api_to_dc.py needs it.

[2021-07-30 06:21] Kirill888 commented on #274
`pystac-client` demands `pystac==0.5.6`, which now uses different name for projection extension. `pystac` is now used by `odc.stats.model` but dependency on specific version of `pystac` has not been declared for this lib and it looks like code in `odc.stats.model.` expects older version of `pystac` than what `pystac-client` needs.

[2021-07-30 06:42] alexgleith commented on #274
I think I fixed that, @Kirill888.

[2021-07-30 06:58] Kirill888 commented on #274
So does this only work with pystac>1 and unreleased pystac client?

https://github.com/opendatacube/odc-tools/blob/7f3790cd6c01d21b06a45d39aef6e4185f270057/docker/requirements.txt#L36

fails here for me:
https://github.com/opendatacube/odc-tools/blob/7f3790cd6c01d21b06a45d39aef6e4185f270057/libs/stats/odc/stats/model.py#L18

if this requires `pystac>=1` `odc/stats/setup.py` should be updated, and

[2021-08-06 02:36] fangfy opened #295 "offset not applied correctedly in geomedian with mads output"
https://github.com/opendatacube/odc-tools/blob/7cff7aaac9d74aaea34ee08f9a55f0302b0bcc53/libs/algo/odc/algo/_geomedian.py#L415

should be `offset = - offset/scale` (missing a negative sign).

[2021-08-06 03:08] fangfy commented on #295
@NikitaGandhi this is causing problem when offset is non-zeros.

[2021-08-08 02:32] patfla opened #296 "Specify region?"
From the Open Data Cube project I'm trying, and failing, to run the following:

Overwrote D:\Pat\miniconda3\envs\cubeenv\lib\site-packages\odc\aio\__init__.py as follows:

Didn't help.

[2021-08-08 11:27] alexgleith opened #297 "The STAC transform should allow items with no Proj information"
In ODC, the shape and transform (grid) information is optional. We should be able to handle assets without shape and transform, but currently we can't.

Errors look like this:
[code]

[2021-08-09 01:17] Kirill888 opened #299 "Version management and PyPI publishing"
I would like to change the way libraries in `odc-tools` are versioned. Currently `setuptools_scm` is used to automatically compute version information from tags in git history. The primary downside of this approach is that all sub-modules share common version since they all reside in the same git repo.

I would like to switch to more manual version management approach, this would allow us to relea

[2021-08-09 02:21] NikitaGandhi opened #300 "Make mask filtering and operation more generic"
Input from @Kirill888 -

[2021-08-09 05:28] #295 closed, assigned to nobody

[2021-08-10 05:37] #299 closed, assigned to nobody

[2021-08-10 19:04] patfla commented on #296
I've drilled down into this more.  In aio/__init__.py it exits in the finally here:

That is, the async operation failed.  Within the context of globbing for *.yaml files.  As in:

s3-to-dc --no-sign-request 's3://dea-public-data/geomedian-australia/v2.1.0/L8/**/*.yaml' ls8_nbart_geomedian_annual

Why?

[2021-08-12 00:38] #300 closed, assigned to NikitaGandhi

[2021-08-12 00:41] Kirill888 commented on #274
I think this is done now

[2021-08-12 00:41] #274 closed, assigned to nobody

[2021-08-12 00:53] Kirill888 commented on #148
I'm starting to work on this now. Main issue with `STAC Collection -> Datacube Product` mapping is lack of pixel type per band information in STAC collection that Datacube Product requires.

One way to work around this issue is to inspect STAC Assets with an assumption that assets with the same name are consistent across STAC Items. Other option is to ask user for that information, for example use

[2021-08-12 04:55] Kirill888 commented on #76
Summary: use of `--pre` flag meant for `datacube` lib, triggered installation of unreleased version of `aiohttp` and caused breakage, solution: don't use global `--pre` in `requirements.txt`.

[2021-08-12 04:55] #76 closed, assigned to nobody

[2021-08-12 05:52] Kirill888 opened #309 "Task: establish release process for publishing to PyPI"
Current State
==========

On every PR merge to `develop` branch all sub-modules are rebuilt with automatically generated `dev` version number and then uploaded to `https://packages.dea.ga.gov.au/` (via a push to S3 bucket under Digital Earth Australia AWS account).

This allows installation via `pip install` so long as `--extra-index-url="https://packages.dea.ga.gov.au/"` option is supplied. This

[2021-08-12 06:05] uchchwhash commented on #309
Option 1 looks pretty good to me!

[2021-08-12 06:15] Kirill888 commented on #309
fyi @gadomski

[2021-08-12 11:43] Juanezm commented on #148
Yes, it is tricky. I finally ended up adding a custom `stac_extension` object into the collection since I was creating the collections too, but this work around won't work with generic collections.

[2021-08-12 12:43] gadomski commented on #309
From a semantic versioning perspective, option 1 could be problematic once (if?) **odc-tools** hits v1. If one package needs a breaking change, it wouldn't really be correct to increment the major version for _all_ **odc-tools** packages.

While we're in v0.* it doesn't really matter, and if we think we'll stay there indefinitely, then option 1 does seem like the easiest. If we want to future-proo

[2021-08-13 01:49] Kirill888 commented on #148
Ideally pixel data type would be part of this extension:

https://github.com/stac-extensions/eo#band-object

@gadomski  was suggesting we propose additions to `eo:bands` extension for that purpose, cc: @alexgleith

Would be nice to have information for every data band in a collection (without needing to fetch sample pixel imagery)
- `dtype` of the pixel data as stored on "disk"
- reasonable value

[2021-08-13 03:40] Kirill888 commented on #309
I feel like "publish only if module has changed" makes most sense and is not that hard to achieve with github actions. I'm thinking matrix build can do this, the only "tricky" part is parsing `git reflog` to check if there has been changes to a given directory. Getting a list of changed files is not a native operation in github actions but there are plenty of non-official actions that exist

This

[2021-08-16 00:00] Kirill888 commented on #296
I have a feeling that on Windows command line character `'` doesn't get stripped away and is passed on to Python code which then causes failures much later than it should.

Don't have access to windows machine to verify though.

@alexgleith it's probably worth updating docs with Windows friendly version of that command.

[2021-08-16 00:04] Kirill888 commented on #296
@patfla error I get on Linux when injecting an extra `'` character is very similar to the one you reported, so I guess that's the reason for the failure, replace `'` with `"` and it should work?

Obviously datacube code should be more robust and detect an invalid URL on input in that case, but it does not currently.

[2021-08-16 00:19] alexgleith commented on #296
Hmm, single quote vs double quote hey?

I just find that if I don't use quotes, on Mac OS, it fails because `zsh` tries to auto-fill the `*`s.

[2021-08-16 00:22] Kirill888 commented on #296
I thought that was the reason, we should probably have two versions of that command for `*nix` and `windows` users.

[2021-08-16 16:57] patfla commented on #296
@Kirill888  Thanks - double-quotes worked:

[2021-08-19 00:55] snowman2 commented on #58
- https://github.com/opendatacube/datacube-core/issues/1084
- https://github.com/opendatacube/datacube-core/issues/519

In case you are interested, `rioxarray` might be a helpful tool for managing CRS/nodata/transform geospatial information:
- https://corteva.github.io/rioxarray/stable/getting_started/crs_management.html
- https://corteva.github.io/rioxarray/stable/getting_started/nodata_managemen

[2021-08-20 04:07] Kirill888 opened #318 "Changes that require new libraries to test cause build failures"
Problem
======

You add new code that uses new library, you write tests, you update test docker to have new library, your tests pass locally. But when you make PR old test docker image is used to test your code and your tests fail on CI.

Proposed Solution
==============

Ideally one would always build docker image as described by the current branch to run the tests, but that can be slow and might

[2021-08-24 23:00] #318 closed, assigned to nobody

[2021-08-25 03:09] Kirill888 opened #330 "Proposal: Rename odc-index to odc-stac"
I would like to propose we rename `odc-index` to `odc-stac`  at a "pypi project" level and at git filesystem level. We will still keep `odc.index.*` import for various datacube specific tools we have in there, but we would also include `odc.stac.*`  namespace in that same package. So the impact will be at `setup.{cfg,py}`  level initially, it's important to get naming right early on, these things

[2021-08-25 03:11] Kirill888 commented on #330
ping: @alexgleith @gadomski

[2021-08-25 03:40] alexgleith commented on #330
I'm fully on board with this.

👍 from me

[2021-08-25 06:03] Kirill888 opened #331 "Proposal: reduce number of top level packages"
Problem
======

This repository grew "organically" for a while and some of the earlier experiments have proven to be less relevant than other. The side effect of this growth is a large number of packages and namespaces. Currently there is a one to one mapping between namespace and package, like `odc.algo.*` is shipped by `odc-algo`, and `odc-algo` ships only files in `odc/algo`. While this is a re

[2021-08-25 06:08] alexgleith commented on #331
I'm not addressing your post quite yet, but will have a read and do so.

But related, I would like to refactor the `s3-to-dc` and I guess `s3-find` to use threading instead of async, because I think performance will be the same and the aio code is slow to move and is a frustrating dependency. Any thoughts on this?

[2021-08-25 06:08] alexgleith commented on #331
Another quick point is that we could combine the two apps installs. `cloud` and `dc_tools` are not that far apart.

[2021-08-25 06:24] Kirill888 commented on #331
`cloud` and `dc_tools` were separate because `cloud` was independent of `datacube` dependency, and it was important at the time. I don't mind merging the two now. We can always move `s3-find` and `s3-to-tar` into a lib if need be.

I do agree that `odc.aio.S3Fetcher` needs more love, not just swapping out async for threads but better bucket listing strategy, but that's discussion for a different i

[2021-08-25 06:43] alexgleith commented on #331
I know what you mean about parallel listing. Not sure if there's an elegant way to partition that.

Damien said that the `s5cmd` tool was the fastest he found, maybe we could wrap that... https://github.com/peak/s5cmd

[2021-08-25 07:05] Kirill888 opened #332 "Discussion: improvements/replacements for s3-find"
Introduction
=========

`s3-find` is a library function and a cli utility used for listing S3 buckets with some basic "globing" support. It's an important tool used for keeping various databases in sync with S3 buckets and also for data investigations. But there are some serious issues and performance pitfalls.

Problems
=======

Main problem is dependency on `aibotocore` (can be "fixed" by moving

[2021-08-25 07:06] Kirill888 commented on #331
made this #332 for this

[2021-08-25 07:08] Kirill888 commented on #332
Refs #167 #30 #149 #105

[2021-08-25 07:47] alexgleith commented on #332
This is a pure python implementation: https://github.com/bloomreach/s4cmd built for performance.

I agree that we should try to remove the `aibotocore` dependency.

[2021-08-25 13:46] gadomski commented on #330
👍🏽

[2021-08-26 03:17] #330 closed, assigned to nobody

[2021-08-26 23:15] Kirill888 commented on #331
### Update

`odc-dtools` and `odc-ppt`  are no more, and `odc-index` is now `odc-stac`.

Still not sure about cloud libs. I'm leaning towards making it one package with feature flags to pull in optional dependencies like thredds, might actually make it easier to refactor S3Fetcher to work without `aiobotocore`.

[2021-08-27 05:00] alexgleith commented on #331
I agree that we should merge cloud and dc apps, keep it simple.

[2021-08-27 05:10] Kirill888 commented on #331
@alexgleith  apps I'm not too concerned about as they are "leaf nodes" and can be merged later on without much disruption. What do we do with libraries though. We have 4 related and separate libs:

- `odc-aws`
- `odc-aio`
- `odc-azure`
- `odc-thredds`

One option is to put it into `odc-cloud` package, and make `-aio,-azure,-thredds` optional (hide behind feature flag). Only downside I see is that

[2021-08-27 05:44] alexgleith commented on #331
Ok, sorry.

Yeah, I'm happy with `odc-cloud`.

Thredds is such a niche use case, and I think if they're using it they have bigger problems than needing to have an unused boto dependency!

[2021-08-30 19:39] #331 closed, assigned to nobody

[2021-08-30 19:41] #296 closed, assigned to nobody

[2021-08-31 01:20] supermarkion opened #347 "Convert the thumbnail generation to lazy execution"
Based on the feedback from: https://github.com/opendatacube/odc-tools/pull/340. The thumbnail relative code is not lazy execution, will slow the performance, or meet SQS timeout.

Sai will fix it cause he introduce it.

[2021-09-01 02:39] Kirill888 opened #348 "Deal with warnings from eodatasets3 assembler"
Running `libs/stac/tests/test_utils.py::test_stac` generated huge number of warnings.

If these are expected please use `with pytest.warns(..):` construct, if they are not expected please fix them.

Example:
[code]

https://github.com/opendatacube/odc-tools/runs/3468145380?check_suite_focus=true#step:8:127

[2021-09-01 02:43] Kirill888 commented on #348
more than 1.5k lines of warnings is excessive, if you don't have time to address this properly please just disable the test.

[2021-09-01 02:55] Kirill888 commented on #348
All of that is coming from this line:

https://github.com/opendatacube/odc-tools/blob/da2f22c645afea43803631970dc50350b79ef138/libs/stats/tests/test_utils.py#L46

something is up with that method, @supermarkion your stats runs will generate insane amount of logging noise.

[2021-09-01 08:56] supermarkion commented on #348
Just saw the message. I am fixing it now.

[2021-09-01 13:39] gadomski opened #352 "[odc-stac] Create one function to load STAC into xarrays"
Currently it takes two steps to go from STAC items to an xarray. It'd be nice to have one top-level function that ties together `odc.stac.stac2ds` and `odc.stac.dc_load`.

### Expected behavior

[code]

### Actual behavior

[code]

[2021-09-02 00:27] Kirill888 commented on #352
For planetary computer specifically there is another step in the *actual behavior* - signing of urls within a `Dataset` object. Several options to handle that:

1. Sign earlier at STAC.Item level (I had some issues with that, signed Items had assets that did not point back to Item and so extensions broke)
2. Configure signing inside `stac.load`
3. Rewrite urls into `/vsiaz/` when appropriate and l

[2021-09-02 05:44] Kirill888 commented on #352
I have done some exploration regarding the use of `/vsiaz/` urls to let GDAL deal with signing. This works but only after this fix in GDAL;

https://github.com/OSGeo/gdal/commit/6888f976933c444a7a12d7d65bfbeeaaa696d7b5

So it works in `3.3.X` series, but not in `3.2.X` series of GDAL. Version of GDAL currently installed on planetary computer is `3.2.1`, and without that fix range requests are brok

[2021-09-02 12:58] gadomski commented on #352
Can you provide an example of this breakage? It _seems_ like pre-signing the STAC items should be good enough and would make this path pretty straightforward.

[2021-09-02 14:15] Kirill888 commented on #352
@gadomski actually it's my code that broke, as I assumed owner was always set, extensions did work fine on "detached" assets.

and if you mean example of how signing broke, I made this issue:

https://github.com/microsoft/planetary-computer-sdk-for-python/issues/25

[2021-09-03 00:35] #348 closed, assigned to omad, supermarkion, kieranricardo

[2021-09-03 01:25] Kirill888 commented on #297
## Problem Description

EO3 metadata format expects one to define native projection information for each band. Unlike STAC, EO3 expects an extra indirection layer: each band is assigned to some named grid (shared across several bands), this way if 10 bands share common grid (footprint), then grid information is recorded once. One of the grids must be called "default". Bands that belong to "default

[2021-09-03 01:29] Kirill888 commented on #297
`EPSG:4326` is somewhat annoying to deal with though, and is a least tested configuration in datacube, so maybe it's worth supporting customization of "default" CRS by the user.

[2021-09-06 05:20] Kirill888 opened #353 "Automatically pick projection/resolution in `dc_load` wrapper"
At the moment `dc.load` family of functions require user to supply desired projection and resolution unless those things are configured on the product via load hints. However it should be possible to pick reasonable defaults given a list of Datasets and bands that are being loaded. We need to decide on the following things

1. Projection to use for output
2. Pixel resolution
3. `[optional]` Pixel

[2021-09-07 01:06] Kirill888 opened #355 "Task: unify `odc.stac.transform` with `odc.stac._eo3`"
Problem Description
================

Module `odc.stac.transform` (previously `odc.index.stac`) was developed before `pystac` was available and before STAC 1.0 was finalized. It's purpose is to translate a STAC document to EO3 compatible Dataset definition document suitable for indexing to datacube.

There are some issues with the current implementation that I would like to address

- hard-coded a

[2021-09-07 16:23] JonDHo opened #358 "Return number skipped as well as success and failed from stac_api_to_odc"
*Simply a suggestion:*
When adding datasets using stac_api_to_odc (and I assume other equivalent functions), it would be useful to be able to differentiate between datasets that have been legitimately skipped (because they are already in the database) vs those which have actually been added.

If the function could return success, failure and skipped, that would be very useful, but perhaps this is

[2021-09-09 05:15] alexgleith opened #366 "TypeError: unhashable type: 'list' when making fused wofs and fc cache"
Using `odc-stats = 0.2.1.dev2619` and `odc-dscache = 0.2.1.dev2286`

Stack trace is

[code]

[2021-09-09 05:15] alexgleith commented on #366
Products are accessible in the DE Africa Sandbox

[2021-09-09 06:39] Kirill888 commented on #366
@alexgleith it's a "bug" in `datacube-core`, introduced in this commit:

https://github.com/opendatacube/datacube-core/commit/00ddcbb4595221ea182ec6351a32351dba84d47a

specifically this line:

[code]
https://github.com/opendatacube/datacube-core/blob/88e4c8c4984cec4b19c1987571d094712d4332bc/datacube/api/query.py#L102

basically added code assumes that `product=` parameter is a single product name

[2021-09-09 08:50] jeremyh commented on #366
This is what [`index.products.search()`](https://github.com/opendatacube/datacube-core/blob/50759e49e8d5ba14dc927abb625cc470314ac555/datacube/index/_products.py#L314-L316) was supposed to do. It "searches" for products that support+match the given search query args.

It's used by `index.datasets.search()` to decide which products to search, and takes the same set of args. (... at least, last time

[2021-09-09 23:40] omad commented on #253
Someone has added one!

https://github.com/opendatacube/odc-tools/blob/develop/apps/dc_tools/odc/apps/dc_tools/fs_to_dc.py

[2021-09-09 23:40] #253 closed, assigned to whatnick

[2021-09-10 00:13] omad opened #367 "Issues and improvements for `fs-to-dc`"
I'm interested in using `fs-to-dc`, but there's two improvements I want to make, but discuss first.

**Feature query/improvement**

I think it would make more sense to leave globbing and finding files up to the shell and other unix commands. Instead of doing it within python. I'd like to change the command to receive a list of paths to index, instead of an `input_directory` and `glob`.

I think it

[2021-09-10 04:47] RichardScottOZ commented on #367
If someone is not using it on unix, what happens?

[2021-09-10 05:15] Kirill888 commented on #367
Issue with external globing is that command line is finite and it's relatively easy to truncate it. Yes you can use xargs with the right set of flags to avoid that, but if you just do `fs-to-ds some-dir/**/*yaml` you are likely to miss some files without ever knowing.

[2021-09-10 06:22] RichardScottOZ commented on #367
and is different on different systems

[2021-09-10 07:03] omad commented on #367
On Linux, there isn't any other software I use from the command line than handles local file globbing internally. I find it frustratingly inflexible.

By deferring to other tools like `find` and `xargs` I can:
- Save the list of files I want to index into a separate file to check before running the indexing
- Generate the list from a database or source other than the filesystem
- Perform more powe

[2021-09-10 07:10] alexgleith commented on #367
This is intended to be a very simple tool.

What you want to do, @omad, can already be done using a combination of unix file listing and "dc-index-from-tar", which is definitely a more "chain the tools together" way.

I do definitely think that the bug should be fixed!

[2021-09-10 07:13] alexgleith commented on #253
It was me, yay!

[2021-09-10 09:33] Kirill888 commented on #367
Accepting a list of files to process is fine, it's just passing it directly as individual paths on a command line like what `datacube dataset` cli does is problematic. Pass it via stdin or from file, accepting thousands of paths on a command line is not cool though

[2021-09-10 10:36] #352 closed, assigned to nobody

[2021-09-13 16:55] JonDHo commented on #148
Apologies if this is a slightly different aspect of this issue, but I am running into issues that relate to the `STAC Collection -> Datacube Product` mapping space, so I thought I would add a comment.

In the USGS STAC API - https://ibhoyw8md9.execute-api.us-west-2.amazonaws.com/prod or https://landsatlook.usgs.gov/stac-server/ each **Collection** is a combination of all Landsat platforms, with of

[2021-09-13 22:15] alexgleith commented on #148
For Digital Earth Africa, we added a field `odc:product` to the USGS STAC records, and split the collection into 6 products, LS5, LS7, LS8 + _SR or _ST.

The reasoning is that the ODC doesn't handle missing bands by default, and since some scenes have SR and some have ST and some have both, we needed two products there. And as you note, some bands are both different with the same name, or added, b

[2021-09-13 22:39] Kirill888 commented on #148
I think the easiest place to fix this issue is in `datacube-core`. We need to support "band is known to be absent for this dataset" case. It could be as simple as:

[code]

to indicate that this dataset is "aware" of the `coastal` band, so it would match the product, but actual data is absent.

[2021-09-13 23:22] JonDHo commented on #148
Yes, this is effectively what I am going to do, but am doing so by changing the product name and then passing the relevant query params (e.g. platform=LANDSAT_8) to the STAC API. That way I can keep using the scripts that you guys have put together and get running quickly. For me, the model of passing a specific query to an API and then telling it exactly which product that I would like to add it

[2021-09-13 23:27] JonDHo commented on #148
This is what I am doing (please note that this is not production code, and is highly likely to break, but just demonstrates the use case):

[code]

[2021-09-14 10:48] #110 closed, assigned to whatnick, alexgleith

[2021-09-14 21:30] #309 closed, assigned to nobody

[2021-09-14 23:01] Kirill888 opened #375 "Proposal: force formatting with black as a condition for merging PRs"
I would like to add formatting with `black` as a prerequisite for code merges. Idea is to add `black --check libs/ apps/` test at the very start of the workflow so that actions will fail early if code is checked in without being properly formatted.

Right now about half of all files would be reformatted by `black` tool, that's easy enough to fix, although it might cause merge issues for branches w

[2021-09-15 02:47] jeremyh commented on #375
:thumbsup: We've had good experiences with these on other repos. The reduction in code churn after conversion is great.

There's also  [shed](https://github.com/Zac-HD/shed#shed) if you want to go _all-in_ on normalisation (it's a wrapper for black+isort+others with zero configuration)

I've found pre-commit does make it a lot easier, as it will ensure all developers always use the same version of

[2021-09-15 03:03] Kirill888 commented on #375
This is very informative, thanks @jeremyh, shed looks interesting and by a fellow  Ken Behren too

[2021-09-15 04:32] Kirill888 opened #381 "Tweak release process to PyPi"
Currently code is only pushed to PyPi from `pypi/publish` branch. I have originally thought of using pull requests for this. But it's actually problematic as PRs on github do not support fast forward merges, so keeping `develop` and `pypi/publish` branches in sync via PRs is not possible.

related: #299

So instead I propose a different approach:

1. Make `pypi/publish` a protected branch to which

[2021-09-15 04:33] Kirill888 commented on #381
ping: @alexgleith @NikitaGandhi

[2021-09-15 04:48] alexgleith commented on #381
Sounds like an ok process. Let's ensure it's really prominent in the README, because if I don't do it for a while, I will forget.

[2021-09-15 04:56] nikkopante opened #382 "s3-to-dc fails to list"
I am following the [tutorial](https://datacube-core.readthedocs.io/en/latest/ops/indexing.html#s3-indexing-example) to deploy a Data Core in a Windows local machine. I am instead using Anaconda instead of Miniconda since I have other projects too. I have done the steps in the tutorial but when performing :

`s3-to-dc --no-sign-request 's3://dea-public-data/geomedian-australia/v2.1.0/L8/**/*.yaml'

[2021-09-15 05:45] Kirill888 commented on #382
@cnpante12 on windows `'` is not stripped away by the shell like in Linux, so please replace `'` with `"`.
Also your environment is broken, we had quite a bit of restructure in `odc-` libraries, please uninstall all `odc-*` libs, then install again and only from PyPI (don't use `--extra-index-url` option please)

[2021-09-15 05:46] Kirill888 commented on #382
@alexgleith it could also be that apps have changes that are not on pypi yet

[2021-09-15 06:02] Kirill888 commented on #382
I confirmed that it's to do with pypi version being too old,
@cnpante12 can you please try

[code]

then
[code]

note change in quotes from command in docs.

@alexgleith do you want to test new publishing strategy by bumping version in `odc-apps-dc-tools` and then updating the branch (see PR)

[2021-09-15 15:04] JonDHo commented on #148
I just realised that the handling of the product name for Sentinel 2 from the collection name of "sentinel-s2-l2a-cogs" (in the Element84 API) to "s2_l2a" is hard-coded in transform.py. Just a note that this may not work for all, highlighting the need to be able to provide a custom product name prior to passing to stac_api_to_odc - https://github.com/opendatacube/odc-tools/blob/237692e5bdc06a51185

[2021-09-15 15:53] nikkopante commented on #382
Thank you @Kirill888 and @alexgleith !

[2021-09-15 22:20] #382 closed, assigned to nobody

[2021-09-15 23:01] alexgleith commented on #148
Hi @JonDHo yes, this was hardcoded a long time ago...

I think you're right, that we should enable passing in a product name. I'm not sure how to achieve it, currently, but it's a good idea.

[2021-09-16 06:04] JamieSlome opened #385 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-09-17 08:10] #381 closed, assigned to nobody

[2021-09-20 01:56] Kirill888 commented on #385
@JamieSlome we will setup security.md shortly in the meantime can you share details with me over email `${my-github-username}@gmail.com`

[2021-09-21 05:22] Kirill888 commented on #385
- SECURTIY.md was created
- report received and forwarded to appropriate people

error is not in the code, so deployments are not affected. One of the test fixtures is leaking potentially sensitive information, not enough to allow unauthorized access though.

[2021-09-21 05:22] #385 closed, assigned to nobody

[2021-09-21 19:40] gadomski opened #395 "[odc-stac] Documentation: add a "best practices for your data" section"
Something like https://stac-vrt.readthedocs.io/en/latest/index.html#building-stac-vrt-compatible-stac-items, it would be good to include a section of the documentation that lays out the STAC properties that are recommended for smooth+easy usage of STAC items in OpenDataCube.

[2021-09-27 01:23] #395 closed, assigned to nobody

[2021-09-28 01:51] Kirill888 opened #402 "Task: cleanup stale branches"
There are some branches that have not been pushed to in a while, they are quite behind the `develop` branch, yet contain a few commits, most likely those commits have been either integrated via some other branch or they were experiments that didn't succeed. These branches are mostly from `odc.stats` orchestration days.

![image](https://user-images.githubusercontent.com/1428024/135004955-61c1bb35-

[2021-09-28 02:08] supermarkion opened #403 "Task: add feature to support remote YAML file as odc-stats run config path"
Hello, @alexgleith, @omad and @Kirill888,

How are you.

I found the odc-stats run config [option](https://github.com/opendatacube/odc-tools/blob/develop/libs/stats/odc/stats/_cli_run.py#L49) only supports the dict content or local YAML file.

[code]

I had these config saved as remote [YAML file](https://raw.githubusercontent.com/GeoscienceAustralia/dea-config/master/dev/services/odc-stats/geomed

[2021-09-28 02:12] omad commented on #347
Can you confirm whether this is done yet Sai?

If so, please close this issue.

[2021-09-28 02:16] Kirill888 commented on #403
I don't think it's such a good idea, `odc.io` does not have a lot of dependencies right now, adding generic "slurp" file or any kind of url is not something I'd like to have in there. Besides this functionality is already available in `datacube` here

https://github.com/opendatacube/datacube-core/blob/d268f49d291cb42769f283b953ffb994c76ed4c5/datacube/utils/documents.py#L88

but we can't make `odc-

[2021-09-28 02:17] omad commented on #375
I think this is a great idea. I've even started once or twice but haven't finished yet.

It sounds like there is general support whenever someone gets around to doing the work.

[2021-09-28 02:19] Kirill888 commented on #375
I don't mind doing it, but there were some fairly active branches with many changes at the time this was first created, those have been merged now. So the impact should be minimal if done now.

[2021-09-28 02:34] supermarkion commented on #347
Based on the recently big scale performance test, there is no significant performance issue with thumbnail feature. So I would prefer remember this risk, but not do anything now.

[2021-09-28 02:37] supermarkion commented on #403
Thanks @Kirill888 , I am happy to handle it at application level.

How about your team @alexgleith on solution `handle it at application level` ?

[2021-09-28 02:44] alexgleith commented on #403
I don't mind.

[2021-09-28 04:06] tebadi commented on #402
I've deleted my three branches, they're no longer required.

[2021-09-28 04:44] alexgleith commented on #367
The bug has been fixed, and the remaining issue is already handled by using other tools together.

[2021-09-28 04:44] #367 closed, assigned to alexgleith

[2021-09-28 05:11] alexgleith commented on #366
Made a change over here: https://github.com/opendatacube/datacube-core/pull/1201

Not sure how to test. Does anyone have a suggestion?

[2021-09-28 12:57] gadomski commented on #402
Yup same for my one.

[2021-09-29 03:54] alexgleith commented on #366
Fixed in https://github.com/opendatacube/datacube-core/pull/1201

[2021-09-29 03:54] #366 closed, assigned to nobody

[2021-10-04 22:50] Kirill888 commented on #355
## progress so far

UUID generation is now deterministic and sufficiently configurable, default UUID resolution goes like this
1. Check if `id` is already in UUID format, in which case use that (this is for ODC generated datasets)
2. Use Item `id` and `collection_id` fields from STAC to generate deterministic UUID
3. `[optional]` user can configure extra fields that should be included as well, tho

[2021-10-05 01:00] Kirill888 commented on #58
FYI: @snowman2
https://github.com/opendatacube/datacube-core/wiki/ODC-EP-06---Extract-Geometry-Utilities-into-a-Separate-Package

[2021-10-05 01:19] Kirill888 commented on #355
Another missing feature in `_eo3.py` is "common prefix extraction" for assets. For data loading purposes it's fine to just use "absolute path" to refer to files, but for indexing a "relocatable" representation is desired. This involves translating asset locations into a "relative" representation where possible, it's possible when all assets of interest reside under common prefix.

[2021-10-05 02:52] Kirill888 opened #415 "Task: extract odc-stac package into a separate repo"
## Introduction

I think it's time to start planning for extraction of `odc-stac` into a repository of it's own. `odc-tools` was initially meant for prototypes and other experiments, I feel like `odc-stac` is reaching certain level of maturity and independence from other parts of `odc-tools` to justify extraction to a repository of it's own.

Main issue I see is discussed in #355. Essentially prev

[2021-10-05 02:52] Kirill888 commented on #415
@alexgleith @gadomski

[2021-10-05 03:15] alexgleith commented on #415
I'm ok with option 1, it means explicit use of the new methods are required. This can then be done incrementally.

[2021-10-05 03:23] alexgleith commented on #355
Having different deterministic UUIDs will break things for me, yeah. If I've indexed Sentinel-2 or Landsat 8 data, which doesn't come with a UUID already, I'm relying on that being consistent to know if it's already in the DB.

What's wrong with the current deterministic ID?

[2021-10-05 03:48] Kirill888 commented on #355
It's not generic enough, special rules for specific product names:

https://github.com/opendatacube/odc-tools/blob/6c7a8bf9058d4e96ca27e5de21c7ff039338fc1c/libs/stac/odc/stac/transform.py#L293-L303

Also I don't think using `sources=` is appropriate, `sources` are for lineage, stac.id is not lineage, it is the dataset.

I guess we can allow user-supplied uuid generation function, in here:

https:/

[2021-10-05 04:58] alexgleith commented on #355
I guess having a user-defined function for UUID generation is a good workaround. It'll need to be added as a parameter for the dc_tools suite.

That can happen later, though.

And the impact isn't important, because I can keep running old code from old docker images to index with.

[2021-10-05 06:05] supermarkion commented on #403
No plan to crash all existing pipelines and lost backwards compatible. So no need this feature anymore.

[2021-10-05 06:05] #403 closed, assigned to nobody

[2021-10-05 06:05] #347 closed, assigned to supermarkion

[2021-10-05 10:18] RichardScottOZ commented on #58
Thanks Kirill.

[2021-10-05 23:34] omad opened #419 "Record Statistician configuration into outputs"
**Summary**

Record enough information in outputs to be able to debug or reproduce them, without requiring access to the original configuration file.

**Details**

One of the original datacube design principles was the ability to trace the lineage of data, with enough detail to reproduce it if necessary.

At the moment statistician outputs are missing enough detail to be able to reproduce them, in

[2021-10-06 05:18] supermarkion commented on #419
Already finished the feature: dump `statistication configuration` information to proc-info.yaml in this [commit](https://github.com/opendatacube/odc-tools/commit/7a0413f49c28e82406a0a49f4ae6074b4d69c67e).

Right now, the `proc-info.yaml` has:
- statistician configuration information
- software versions (eodatasets3 version; ows version; odc-stats version; summary-plugin version)

The input dataset

[2021-10-06 22:45] omad commented on #419
Thank you Sai, that looks great.

I recall that the input products can come from CLI rather than the configuration file. Can you check that this information will be saved in `.proc-info.yaml` as well. It's another very important detail, that has been messed up in the past.

Saving the specific input dataset urls is an interesting idea. I can see some benefits, but I don't think it's strictly neces

[2021-10-06 23:20] supermarkion commented on #419
For the `input products`: unfortunately, the `odc-stats run` does not have the input products information. The input products information are used in the `save-task` CLI.

However, we can also dump `*.db` information to `proc-info.yaml` (normally, it should be a S3 uri). The `*.db` (e.g. `ga_ls_wo_3_annual_2009.db`) can used to reference to the input products.

[2021-10-07 03:02] Kirill888 commented on #419
every dataset in dataset cache has a copy of the corresponding product attached to it, so product information is available at run-time `some_input_dataset.type`, of course "virtualized" datasets need to be handled specially, but the same applies to lineage tracking for products combining several input products.

You can also access all the products present in the dataset cache directly without get

[2021-10-08 00:53] Kirill888 opened #426 "Duplicate entries might be returned from streaming query functions"
`ordered_dss` and `chopped_dss` functions emulate streaming query by chopping query along time dimension, making several smaller queries one after another then stitching results and returning as continuous stream of datasets.

https://github.com/opendatacube/odc-tools/blob/9e126245a0180064ccb933e0731f72a00dc32ad3/libs/stac/odc/index/_index.py#L242-L245

https://github.com/opendatacube/odc-tools/bl

[2021-10-08 03:17] #419 closed, assigned to supermarkion

[2021-10-11 22:56] #426 closed, assigned to nobody

[2021-10-12 05:14] Kirill888 commented on #415
Moved to here:

https://github.com/opendatacube/odc-stac/

all packaging and docs have been updated with new urls

[2021-10-12 05:14] #415 closed, assigned to nobody

[2021-10-12 05:16] #402 closed, assigned to nobody

[2021-10-12 05:17] Kirill888 commented on #355
code has been moved into apps,
odc-stats was refactored to use stac2ds

[2021-10-12 05:17] #355 closed, assigned to nobody

[2021-10-12 05:18] Kirill888 commented on #353
This has been included in #428

[2021-10-12 05:18] #353 closed, assigned to nobody

[2021-10-15 02:34] cbur24 opened #431 "Support github https links for config yamls"
When running ODC-Statistician using the command `odc-stats run`, it is not currently possible to pass to the `config` or `plugin-config` parameters a https link to a .yaml stored on github  i.e. this isn't supported:

`odc-stats run --config=https://raw.githubusercontent.com/some_repo/config.yaml ...`

Suggesting an update to the [parse_yaml_file_or_inline](https://github.com/opendatacube/odc-tool

[2021-10-17 22:53] alexgleith commented on #431
I think that this has been fixed by @supermarkion a week or so ago

[2021-10-17 23:33] supermarkion commented on #431
Long story. We did not achieve the agreement on design at that moment. So close/cancel the relative [proposal](https://github.com/opendatacube/odc-tools/pull/404).

[2021-10-17 23:37] cbur24 commented on #431
ok thanks @supermarkion, The workaround is pretty simple so not a big deal

[2021-10-17 23:37] #431 closed, assigned to alexgleith, supermarkion

[2021-10-18 01:09] SpacemanPaul opened #432 "Proposal: ODC-tools split/clean-up"
odc-tools was conceived as a place for "ODC features that DEA is experimenting with or prototyping with the intention of being integrated into odc-core in the future."

However some parts of odc-tools have already grown into mission-critical tools, and the tangled experimental architectural anti-pattern of the tools repository makes it difficult for them to mature further.  Splitting odc-stac into

[2021-10-18 01:34] alexgleith commented on #432
It's been suggested that many of the odc_apps applications should live in Datacube Core, which may or may not be a good idea. Some, like the general purpose indexing from S3 or SQS certainly could/should.

I do worry a bit about the interdependence of libs and apps and having them in separate repos is not necessarily simpler.

[2021-10-18 01:39] Kirill888 commented on #432
That sounds fine to me so long as history is fully preserved. I have used `git-filter-repo` to extract `odc-stac` and it worked fairly well. Code have moved around a bit so you'll need to include some older paths when extracting, but it's all very straightforward really.

Regarding your point 3.

Apps from `odc-apps-cloud` should be moved into `odc-cloud`, that I agree with. `odc-apps-dc-tools` is

[2021-10-19 09:11] jaunvl-github opened #438 "ModuleNotFoundError: No module named 'odc'"
Hi All,

Please I need some help.

Is there any step by step material to solve the following error.

ModuleNotFoundError: No module named 'odc'

Also all the resources and material on platforms are very helpful but I cant find any material on how to setup your computer so that the code works. That is making sure all the libraries are installed, environments are setup etc. Am I missing this.

Thank

[2021-10-20 00:44] Kirill888 commented on #438
@jaunvl-github Python environment management is a tricky topic. I suggest you use `conda` to setup python environment that works for you.

Sample environment is documented here:

https://github.com/opendatacube/odc-tools#for-conda-users

[2021-11-02 23:08] #432 closed, assigned to nobody

[2021-11-02 23:18] SpacemanPaul opened #452 "Split ODC-Stats into a separate repository"
General plan:

[code]

N.B. The statistician docker image will be moved into the new odcs-stats repo after this.

Comments and discussion welcome.

[2021-11-03 00:19] Kirill888 commented on #452
@SpacemanPaul I recommend `git-filter-repo`

https://github.com/newren/git-filter-repo

`filter-branch` is the old and hard way, I would also swap a and b steps.

[2021-11-03 00:20] Kirill888 commented on #452
I'll do the same for dscache, but first I'll remove odc.io dependency from that

[2021-11-03 03:38] SpacemanPaul commented on #452
Re: git-filter-repo vs filter-branch: oh cool, thanks.  Speed isn't an issue (I've done a few test runs with filter-branch in clean clones and they've been pretty painless), but looks like filter-repo is a bit cleaner at least.

Re: dscache  yes, agreed.  I'm tempted to do the same for cloud and algo - then all stats is completely independent of tools.

[2021-11-03 05:31] Kirill888 commented on #452
I would prioritize moving `odc.index.*` into datacube proper over cloud/algo.

Code in here really should be in datacube
https://github.com/opendatacube/odc-stac/tree/develop/odc/index

also this makes `odc-dscache` depend on `odc-stac`, when it really does nothing with STAC and just uses utilities from `odc.index`.

[2021-11-05 05:01] SpacemanPaul commented on #452
Stats split is pretty much ready go.  Just getting my head around the github actions.   @kirill888 - your split-out of `dscache` helped a lot.  Should be done by Monday 5th.

[2021-11-08 08:49] SpacemanPaul commented on #452
And done.

[2021-11-08 08:49] #452 closed, assigned to nobody

[2021-11-22 00:24] pindge opened #460 "s3-to-dc yaml return datetime is not json serializable"
cmd : `s3-to-dc --no-sign-request --skip-lineage s3://dea-public-data-dev/usgs_c2l1_ard_test/ga_ls_fc_3/**/*.odc-metadata.yaml ga_ls_fc_c2_3`  returned error

[code]

[2021-11-22 00:28] pindge opened #461 "s3-to-dc faults on encountering proc-info.yaml"
CMD: `s3-to-dc --no-sign-request s3://dea-public-data-dev/derivative/ga_ls_fc_pi21_test_3/**/*.yaml ga_ls_fc_pi21_test_3`
[code]

[2021-11-22 02:37] emmaai commented on #332
Ref #167 , it can do `//**/` fine, but `s3-to-dc` better with some more informative messages when it can't deal with certain patterns, rather than general message saying `Added 0 datasets and failed 0 datasets.`

[2021-12-09 01:19] omad opened #463 "Add `--location-policy` flag to `s3-to-dc`"
At the moment, `s3-to-dc` provides an almost complete alternative to `datacube dataset add` and `datacube dataset update`, as well as including extra features like indexing from STAC and glob based indexing from S3 buckets.

However, it doesn't allow updating the location of an already stored dataset, like can be done using `datacube dataset update --location-policy archive|forget` [documented in

[2021-12-09 19:52] JonDHo commented on #148
This is my current solution which lets me continue to use the majority of the stac_api_to_dc functions without having to fork and maintain. I simply override the `process_item` function of `odc.apps.dc_tools.stac_api_to_dc`. It would be useful of course if a custom product name could be passed into the process and handled internally in the same way.

[code]

[2021-12-09 21:10] alexgleith commented on #148
Hey @JonDHo it shouldn't be too hard to make that an option on the CLI. Feel free to send a PR to make the change.

[2021-12-22 01:28] Kirill888 commented on #58
Work starting here: https://github.com/opendatacube/odc-geo

[2022-02-17 14:15] rsignell-usgs opened #469 "release on conda-forge - it's now easy!"
The odc-tools are great and it would be great to allow simple install for users from conda-forge.

Releasing on conda-forge used to be significant extra work, but if you release on pypi, now  [grayskull](https://github.com/conda-incubator/grayskull) has made generating the recipe a one-liner:
[code]
Once it's on conda-forge, the conda-forge bot will update the version and the dependencies automagi

[2022-02-17 22:47] Kirill888 commented on #469
@rsignell-usgs `odc-algo` specifically is on conda, just not `conda-forge`. Issue is not so much with setting up conda packaging, but rather `conda-forge` distribution itself, which takes time for package to be approved and all that. Also a lot of these packages still lack stability, we had a major refactor of package boundaries a few months back for example, so adding them to `conda-forge` might

[2022-02-18 13:40] rsignell-usgs commented on #469
@Kirill888, I think it's fine to use conda-forge in a "release early/release often" mode, it's easy now with grayskull.

We went ahead and did it for `odc-algo`, as I want to share https://github.com/Element84/geo-notebooks with colleagues and I've been telling them to just use conda-forge to avoid issues.

[2022-02-20 22:53] Kirill888 commented on #469
@rsignell-usgs can you elaborate? Did you make a package for `odc-algo` or did you publish it to `conda-forge`? Up-to-date conda package for `odc-algo` is available from my conda channel `kirill-odc` as I mentioned in the post earlier. I will update installation instructions for the conda section to mention that fact.

While I agree that sharing early is good, `conda-forge` is a bit of a special c

[2022-02-21 14:22] rsignell-usgs commented on #469
@Kirill888 , @ocefpaf helped me on this, and will respond with some more info.

[2022-02-22 12:54] ocefpaf commented on #469
In conda-forge lingo "making a package" is to package existing software and publishing it. So it is the latter and not the former.

Thanks. We discourage the use of multiple channels though to avoid ABI incompatibilities. We also try to make it easy to publish on community channels (conda-forge and bioconda). That usually to help folks make their packages conda installable to a larger community.

[2022-02-22 13:31] rsignell-usgs commented on #469
TL;DR:  the user community would be well served with ODC tools released early and often on conda-forge, and it wouldn't put significant extra effort on any humans!   😄

[2022-02-22 22:19] Kirill888 commented on #469
Thanks for detailed reply @ocefpaf. I see your point about mixed channels, in this case all the packages are python only, but of course you can't know if it will stay that way. The plan is of course to publish on `conda-forge` like we did with `datacube` and `odc-stac`, it's just we had a rather hairy dependency graph in the recent past, but that got mostly cleaned up by now and is likely to stay

[2022-03-29 23:38] Kirill888 commented on #469
So I see @ocefpaf done this already, thanks

https://github.com/conda-forge/odc-algo-feedstock

[2022-03-29 23:38] #469 closed, assigned to nobody

[2022-03-30 09:20] ghost opened #470 "AWS_S3_ENDPOINT env for s3-to-dc"
Lately we have been producing STAC documents and indexing them with something like `s3-to-dc --stac s3://glob/*/*json`. However, our data is not stored on AWS S3, it is stored on-prem in a Ceph storage cluster. It appears that `s3-to-dc` only supports AWS buckets by default.

The solution right now is a very quick hack in our Dockerfile
[code]

The AWS_S3_ENDPOINT exists in GDAL (https://gdal.org/

[2022-04-04 20:00] snowman2 commented on #58
Thanks @Kirill888 :+1:

[2022-04-04 20:00] #58 closed, assigned to nobody

[2022-05-19 04:46] woodcockr commented on #460
Just encountered this - the problem is in the error output using json.dumps. What is actually happening is a BadMatch error on the metadata but you can't see the error (and s3-to-dc will hang) because it can't finish raising the BadMatch exception...
[code]

[2022-05-23 00:54] pindge opened #472 "s3-to-dc fails to return meanful error log"
the `s3-to-dc` returned `Added 0 Datasets, Failed 0 Datasets` with no additional log.
[code]
The `s3-to-dc`  with the `--stac` flag works correctly
[code]

[2022-05-23 22:35] pindge commented on #472
Closing this issue as the latest version handles this
[code]

[2022-05-23 22:35] #472 closed, assigned to nobody

[2022-06-20 22:48] pindge opened #474 "s3-to-dc --stac --update-if-exists doesnt successfully complete"
whereas with yaml it always does. best to setup test case

[2022-06-21 00:22] pindge opened #476 "Existing github action ci is returning errors - missing packaging"
https://github.com/opendatacube/odc-tools/actions

[code]

and

[code]

[2022-06-21 01:18] Kirill888 commented on #476
@pindge see this commit for a fix of the same issue in odc-stac repo
https://github.com/opendatacube/odc-stac/commit/e33f033c6bbb76a1dc3c085837211a518255d2df

[2022-06-21 01:35] pindge commented on #476
Latest pystac-client release has alot of changes https://github.com/stac-utils/pystac-client/releases

[2022-06-21 03:47] pindge opened #478 "github action ci installing different pip packages versions"
github test is building the environment with incompatible pystac versions

[code]

as per https://github.com/opendatacube/odc-tools/runs/6977484308?check_suite_focus=true

validated behaviour in local mamba

[code]

[code]

[2022-06-23 04:26] #476 closed, assigned to nobody

[2022-06-23 04:26] #478 closed, assigned to pindge

[2022-06-23 05:26] pindge opened #479 "s3-to-dc stac --stac --update-if-exists fails without --allow-unsafe flag"
linked issue: https://github.com/opendatacube/datacube-core/issues/1280
[code]

[2022-06-23 23:27] pindge opened #480 "pytest.mark.xfail doesnt work as expected"
[code]

[2022-06-24 00:53] pindge opened #481 "test cases for stac_transform are incomplete and not integrated to odc-core"
Test file: https://github.com/opendatacube/odc-tools/blob/develop/apps/dc_tools/tests/test_stac_transform.py

### Issues

1. The test cases uses `deepdiff` to compare originally stac file convert to odc dataset yaml file with an expected odc dataset yaml file. This `deepdiff` should be replaced with functions available from `datacube-core`
2. https://github.com/opendatacube/odc-tools/blob/62c7356b

[2022-06-24 02:49] #480 closed, assigned to nobody

[2022-06-27 00:43] #481 closed, assigned to pindge

[2022-06-27 04:52] #479 closed, assigned to nobody

[2022-06-27 05:43] #474 closed, assigned to pindge

[2022-06-28 00:45] pindge opened #485 "s3-to-dc does not index when s3 url doesn't contain *"

[2022-06-28 22:20] pindge opened #488 "README is missing instruction on local setup that simulates action workflow"
The `main.yaml` workflow uses mamba to build test environment, but there is no instruction on how to setup test locally.

[2022-06-28 23:27] #488 closed, assigned to pindge

[2022-06-30 02:36] pindge commented on #461
fix applied in datacube-core https://github.com/opendatacube/datacube-core/pull/1287

[2022-06-30 22:26] pindge opened #491 "sqs-to-dc should support `--no-sign-request` like s3-to-dc for s3 file load"
Encountered an error when trying to setup a test case for `handle_bucket_notification_message` where `s3 object` cannot load without a proper `aws access secret key and id`, `s3-to-dc` has `--no-sign-request` as an option, this option should be adapted in `sqs-to-dc` as well

[code]

[2022-07-01 05:18] #491 closed, assigned to nobody

[2022-08-10 06:08] omad opened #495 "Send SNS Notification after Successful Indexing with sqs-to-dc"
As part of the operations in Digital Earth Australia, we use `sqs-to-dc` to subscribe to notifications that new datasets are available on S3, and then add them to an ODC Index.

We also have [datacube-alchemist](https://github.com/opendatacube/datacube-alchemist/) subscribed to the same SQS to produce derivative data. We have regular failures due to a [race condition](https://en.wikipedia.org/wiki

[2022-08-10 06:21] omad opened #496 "Allow sqs-to-dc to index any datasets received from a queue"
At the moment, `sqs-to-dc` expects a list of products that it is allowed to index.

I think it would be very useful to be able to index any datasets instead of requiring a few list ahead of time.

I'm tempted (but not wedded) to the idea of this being the default behaviour.

[2022-08-11 00:12] pindge opened #497 "s3-to-dc lacks metrics reporting"
right now, s3-to-dc only prints one of log, https://github.com/opendatacube/odc-tools/blob/develop/apps/dc_tools/odc/apps/dc_tools/s3_to_dc.py#L142

this should extend to sending out metrics to `statsd exporter`

[code]

[code]

![image](https://user-images.githubusercontent.com/24644475/184044088-acad6e4f-42d8-453f-9a46-ebb5dd6adad7.png)

[2022-08-12 04:28] #497 closed, assigned to pindge

[2022-08-29 03:37] #358 closed, assigned to pindge

[2022-09-05 09:57] emmaai commented on #375
`.pre-commit-cfg.yaml` is added to force formatting and linting, but it only does so to the files changed, as those need to be committed. I messed up a bit with the last PR as Kirill pointed out. IMHO, it's too time consuming to do all the files in one big PR for a single person and to guarantee no mistake is made unintentionally. Alternatively, the more acceptable solution is to have formatting p

[2022-10-05 03:51] #461 closed, assigned to pindge

[2022-10-12 00:52] jmettes opened #510 "Cannot index alternate Sentinel-2 product"
I am attempting to index Sentinel-2 data (DEAustralia's `ga_s2am_ard_3`) using a STAC document. However it seems like it's having trouble handling it instead of [DEAfrica's `s2_l2a`](https://explorer.digitalearth.africa/products/s2_l2a).

[code]

Interesting how `s3-to-dc` didn't pick anything up, however `sqs-to-dc` did give a more detailed error.

[code]

If I had to make a guess on the source o

[2022-10-12 05:07] SpacemanPaul commented on #510
Looks like the product name is wrong in the dataset document?

Dataset has:

[code]

But the product has:
[code]

`s2_l2a` != `ga_s2am_ard_3`

[2022-10-13 05:26] #510 closed, assigned to emmaai

[2022-10-19 04:51] SpacemanPaul opened #515 "Proposed changes to fs-to-dc"
See also #367

Again we are finding use cases where we would like to be able to pass multiple file paths to fs-to-dc rather than a base directory and an explicit glob pattern.

The concerns raised by @Kirill888 in #367 have some merit, but do not apply to the specific use cases we are looking at.

I propose the following backwards-compatible behaviour:

Add a new flag option `--files`:
* If not se

[2022-10-20 02:54] dunkgray commented on #515
Overall adding the dataset maturity concept to "datacube dataset add" would be my favoured approach. I haven't ever used odc-tools on NCI and I would prefer keeping the code dependencies down.

[2022-10-20 23:58] omad commented on #515
That sounds like a good compromise, thank you Paul.

[2022-10-21 01:32] jmettes opened #516 "Publish index actions to SNS topic"
With the introduction of the [`--archive-less-mature` maturity functionality](https://github.com/opendatacube/odc-tools/pull/507), now less mature (i.e., `NRT` and `interim`) datasets get archived on indexing of more mature datasets (i.e., `final`).

We have a need to also delete these datasets from S3, beyond just archiving them - as the NRT data can get quite large, and they're not needed anymor

[2022-10-21 01:40] SpacemanPaul commented on #516
I don't have a problem with this, as long as it doesn't put any extra overhead on users who don't want/need this functionality.  (i.e. would need to be optional and explicitly configured.)

[2022-11-01 22:21] omad opened #520 "StatsD support should be optional"
I think that StatsD support in the odc-tools applications should be optional.

It feels wrong to me to have a mandatory dependency on `datadog`, which in my mind is a commercial service offering that is not required required for running the ODC Tools indexing tools. It feels like an endorsement or recommendation, and I'm not comfortable with that.

The tools can operate normally by simply not repo

[2022-11-02 05:25] omad opened #521 "Improve Developer Testing"
In **ODC Tools** we have a several automated tests written for some of the tools and libraries. However, having recently tried to do some work on the code here, I've run across a few hiccups.

**Problems**
- Most tests required an available PostgreSQL database to be setup.
- Interdependencies between tests, many tests have been written such that they depend on previous tests being run. This makes

[2022-11-07 05:52] omad opened #522 "Replace Async AWS Code with Threads"
# Background

To get good performance from AWS S3, it's necessary to parallelise requests.

The  `odc-aio` library provides functions used in the odc-tools CLI applications, and is implemented using Async Python and the aiobotocore library.

This has worked well for several years, providing good performance.
However, using async python, and in particular [aiobotocore](https://github.com/aio-libs/a

[2022-11-07 06:13] omad commented on #521
**Another Issue**

Tests written for the AWS capable tools depend on S3 resources hosted by third parties, and some of those have recently become unavailable. Some of the STAC documents store in `s3://sentinel-cogs/` are no longer publicly readable.

I tried replacing the reads of real S3 documents with [moto](https://github.com/spulec/moto), but failed due to the use of [aiobotocore](https://gith

[2022-11-09 00:56] #470 closed, assigned to nobody

[2022-11-10 22:57] #516 closed, assigned to Ariana-B

[2022-11-14 06:29] omad opened #525 "Coordinate Transform Issues"
I've just put in place two work-arounds due to failing coordinate transform tests.

The first is in `odc.algo` for choosing a Transform Path, which is choosing a different transform depending on something like the GDAL/Proj version.

The other is in `odc.apps.dc_tools` during the STAC transform. The code is for transform Geographic coordinates into a Projected Coordinate system, and (IMO choosing

[2022-11-14 06:31] omad opened #526 "Fix Code Linting Errors"
See https://results.pre-commit.ci/run/github/152664678/1668407081.F8fMeHCVS4u25_OI59D4gA

PR #524 is too big already!

[2022-11-18 04:29] omad commented on #495
Implemented by @Ariana-B in https://github.com/opendatacube/odc-tools/pull/519

[2022-11-18 04:29] #495 closed, assigned to omad

[2022-11-18 04:31] omad commented on #264
Implemented in October 2021. See https://github.com/opendatacube/odc-tools/blob/develop/apps/dc_tools/odc/apps/dc_tools/cop_dem_to_dc.py

[2022-11-18 04:31] #264 closed, assigned to whatnick

[2022-11-18 04:32] jmettes commented on #495
Similar: https://github.com/opendatacube/odc-tools/issues/516